@font-face {
  font-family: 'types';
  src: url('../++resource++plonegazette-static/font/types.eot?8399425');
  src: url('../++resource++plonegazette-static/font/types.eot?8399425#iefix') format('embedded-opentype'),
       url('../++resource++plonegazette-static/font/types.woff?8399425') format('woff'),
       url('../++resource++plonegazette-static/font/types.ttf?8399425') format('truetype'),
       url('../++resource++plonegazette-static/font/types.svg?8399425#types') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'types';
    src: url('../++resource++plonegazette-static/font/types.svg?8399425#types') format('svg');
  }
}
*/
 
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories [class^="contenttype-newsletter"]:after,
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories [class*=" contenttype-newsletter"]:after,
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories [class^="contenttype-subscriber"]:after,
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories [class*=" contenttype-subscriber"]:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper.outer-wrapper [class^="contenttype-newsletter"]:before,
body#visual-portal-wrapper.pat-plone .outer-wrapper.outer-wrapper [class*=" contenttype-newsletter"]:before,
body#visual-portal-wrapper.pat-plone .outer-wrapper.outer-wrapper [class^="contenttype-subscriber"]:before,
body#visual-portal-wrapper.pat-plone .outer-wrapper.outer-wrapper [class*="contenttype-subscriber"]:before
{
  font-family: "types";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  text-decoration: inherit;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories .contenttype-newslettertheme:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-newslettertheme:before { content: '\e800'; } /* '' */
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories .contenttype-newsletterbtree:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-newsletterbtree:before { content: '\e801'; } /* '' */
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories .contenttype-newsletter:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-newsletter:before { content: '\e802'; } /* '' */
body#visual-portal-wrapper.pat-plone #edit-zone #plone-contentmenu-factories .contenttype-subscriber:after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-subscriber:before, { content: '\e803'; } /* '' */
